@page "/"
@namespace Gallería.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallería</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <script src="inputfile.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>

    <script>
        function TestDataTablesAdd(table) {
            $(document).ready(function () {
                $(table).DataTable();

                function InicializarTraduccion() {
                    var paginador = document.querySelector(`${table}_length`);
                    var nodes = paginador.childNodes;
                    var cnodes = nodes[0].childNodes;
                    cnodes[0].textContent = cnodes[0].textContent.replace("Show", "Ver");
                    cnodes[2].textContent = cnodes[2].textContent.replace("entries", "registros");

                    cnodes[1].addEventListener("change", () => {
                        InicializarTraduccion();
                    });

                    var filtro = document.querySelector(`${table}_filter`);
                    var nodes = filtro.childNodes;
                    var cnodes = nodes[0].childNodes;
                    cnodes[0].textContent = cnodes[0].textContent.replace("Search", "Buscar");
                    cnodes[1].addEventListener("input", () => {
                        InicializarTraduccion();
                    });

                    var info = document.querySelector(`${table}_info`);
                    info.innerText = info.innerText.replace("Showing", "Mostrando").replace("to", "a").replace("of", "de").replace("entries", "registros");

                    var paginas = document.querySelector(`${table}_paginate`);
                    var nodes = paginas.childNodes;
                    nodes[0].textContent = nodes[0].textContent.replace("Previous", "Previo");
                    nodes[2].textContent = nodes[2].textContent.replace("Next", "Siguiente");

                    nodes[1].onclick = () => {
                        InicializarTraduccion();
                    }
                }

                InicializarTraduccion();
            });
        }
        function TestDataTablesRemove(table) {
            $(document).ready(function () {
                $(table).DataTable().destroy();
                // Removes the datatable wrapper from the dom.
                var elem = document.querySelector(table + '_wrapper');
                elem.parentNode.removeChild(elem);
            });
        }
    </script>
</body>
</html>
