@page "/"
@inject NavigationManager NavigationManager

<div>
    <div class="row text-center">
        <div class="col Center">
            <h1>Bienvenido</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col Center">
            <img  src="/iconos/Galleria.jpg" class="img-responsive">
        </div>
    </div>
</div>


@code
{
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {

        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            var returnUrl =
                NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            NavigationManager.NavigateTo($"/identity/account/login?returnUrl={"~/" + returnUrl}");
        }
    }
}