@page "/prefijoDetails"
@page "/prefijoDetails/{id:int}"
@inject PrefijoService prefijoService
@inject NavigationManager NavigationManager

<h2>Prefijo Detalles</h2>
<EditForm Model="@entity">

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Descripcion" class="control-label">Descripcion:</label>
                <input for="Descripcion" class="form-control" @bind="entity.Descripcion" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Save" @onclick="@SavePrefijo" />
                <input class="btn btn-danger" type="button" value="Cancel" @onclick="@Cancel" />
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Prefijo entity = new Prefijo();

    protected async Task SavePrefijo()
    {
        if (await prefijoService.Save(entity))
            NavigationManager.NavigateTo("PrefijoList");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("PrefijoList");
    }

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            var returnUrl =
                NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            NavigationManager.NavigateTo($"/identity/account/login?returnUrl={"~/" + returnUrl}");
        }

        if (id > 0)
            entity = await prefijoService.Get(id);
    }
}

