@page "/tipogalloDetails"
@page "/tipogalloDetails/{id:int}"
@inject TipoGalloService tipogalloService
@inject NavigationManager NavigationManager

<h2>Gallo Detalles</h2>
<EditForm Model="@entity">

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Descripcion" class="control-label">Descripcion:</label>
                <input for="Descripcion" class="form-control" @bind="entity.Descripcion" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Save" @onclick="@SaveTipoGallo" />
                <input class="btn btn-danger" type="button" value="Cancel" @onclick="@Cancel" />
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private TipoGallo entity = new TipoGallo();

    protected async Task SaveTipoGallo()
    {
        if (await tipogalloService.Save(entity))
            NavigationManager.NavigateTo("TipoGalloList");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("TipoGalloList");
    }

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            entity = await tipogalloService.Get(id);
    }
}

