@page "/tipogalloDetails"
@page "/tipogalloDetails/{id:int}"
@inject TipoGalloService tipogalloService
@inject NavigationManager NavigationManager

<h2 style="color: #c41c1c; padding-inline-start: 15px;">Tipo Gallo Detalles</h2>

<EditForm Model="@entity">

    <div class="col-md-12">
        <div class="form-group">
            <label for="Descripcion" class="control-label">Descripcion:</label>
            <input for="Descripcion" class="form-control" @bind="entity.Descripcion" />
        </div>

        <div class="col text-center">
            <input class="btn btn-danger" style="background-color: darkgray; border-color: darkgray; color: white;" type="submit" value="Cancelar" @onclick="@Cancel" />
            <input class="btn btn-success"style="background-color: #da1f1f; border-color: #da1f1f; color: white;" type="submit" value="Guardar" @onclick="@SaveTipoGallo" />
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private TipoGallo entity = new TipoGallo();

    protected async Task SaveTipoGallo()
    {
        if (await tipogalloService.Save(entity))
            NavigationManager.NavigateTo("TipoGalloList");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("TipoGalloList");
    }

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            var returnUrl =
                NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            NavigationManager.NavigateTo($"/identity/account/login?returnUrl={"~/" + returnUrl}");
        }

        if (id > 0)
            entity = await tipogalloService.Get(id);
    }
}

