@page
@model LoginModel
    <html>
    <head>
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>

        <div id="Principal" class="wrapper fadeInDown">
            <div id="formContent">
                <form id="account" method="post">
                    @*<h4>Iniciar Sesión</h4>*@
                    <div>
                        <img id="logoLogin" style="width: 250px;"  src="/iconos/logo3.png" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="lbl-first">Usuario</label>
                        <input asp-for="Input.UserName" type="text" class="form-control form-controlLogin" />
                        <br />
                        <span asp-validation-for="Input.UserName"  class="lbl-first"></span>
                    </div>
                    <div class="form-group">
                        <label class="lbl-first">Contraseña</label>
                        <input asp-for="Input.Password" type="password" class="form-control form-controlLogin" />
                        <br />
                        <span asp-validation-for="Input.Password"  class="lbl-first"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="lbl-first" asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Recordarme
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-First btn-lg btn-block">Ingresar</button>
                    </div>
                    @*<div class="form-group formFooter">
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                |<a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
            </p>
        </div>*@
                </form>
            </div>
        </div>
    </body>
    </html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
